<li>[{{item.created_at}}] <a href="{{ request.route_url('view_user', user_name=item.object.creator.name) }}">{{item.object.creator.name}}</a> added tag <a href="{{request.route_url('view_user_taglist', user_name=item.object.creator.name, tag_name=item.object.name)}}">{{ item.object.name }}</a> for <a href="{{ request.route_url('view_paper', arxiv_id=item.paper.arxiv_id) }}">{{ item.paper.title }}</a>.</li>
