<div class="paper-cell row">
    <div class="paper-cell-left col-xs-1">
        <div class="paper-cell-macroscore">{{ paper.macroscore }}</div>
    </div>
    <div class="paper-cell-middle col-xs-10">
        <div class="paper-cell-title">
            <a href="{{ request.route_url('view_paper', arxiv_id=paper.arxiv_id) }}">{{ paper.title }}</a> <a href="https://arxiv.org/abs/{{ paper.arxiv_id }}">({{ paper.formatted_date }})</a>
        </div>
        <div class="paper-cell-authors">
                {% for author in paper.authors %}
                <span>{{ author.name }}</span>{% if loop.last %}.{% else %}, {% endif %}
                {% endfor %}
        </div>
        <div class="paper-cell-userdata">
            <ul class="list-inline nodivider">
                <li class="paper-cell-userscore list-inline-item">
                    <ul class="list-inline nodivider">
                        {% for index in range(1, 11) %}
                            <li class="list-inline-item">
                            {% if paper.userscore %}
                                {% if index == paper.userscore %}
                                    <strong><a href="{{ request.route_url('delete_user_paper_rating', arxiv_id=paper.arxiv_id) }}">{{ index }}</a></strong>
                                {% else %}
                                    <a href="{{ request.route_url('edit_user_paper_rating', arxiv_id=paper.arxiv_id, rating=index) }}">{{ index }}</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ request.route_url('add_user_paper_rating', arxiv_id=paper.arxiv_id, rating=index, _query={'next': request.url}) }}">{{ index }}</a>
                            {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="list-inline-item">|</li>
                <li class="paper-cell-tags list-inline-item">
                    <ul class="list-inline nodivider">
                {% for tag in paper.tags %}
                        <li class="list-inline-item">
                        <a href="{{request.route_url('view_user_taglist', user_name=request.user.name, tag_name=tag.name)}}">{{ tag.name }}</a>
                        <a href="{{request.route_url('delete_tag', arxiv_id=paper.arxiv_id, tag_name=tag.name)}}" class="tag-close close nohover" aria-label="Close" aria-hidden="true"><span>&times;</span></a>
                        </li>
                {% endfor %}
                        <li class="list-inline-item">
                        <form class="form-inline form-tag" action="{{ request.route_url('add_tag', arxiv_id=paper.arxiv_id) }}" method="post">
                        <div class="form-group form-group-tag">
                            <textarea name="next" hidden>{{ request.url }}</textarea>
                            <input class="form-control input-tag" placeholder="Enter tag." name="body">
                        </div>
                        </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
