<div class="paper-cell row">
    <div class="paper-cell-left col-xs-1">
        <div class="paper-cell-macroscore">{{ paper.macroscore }}</div>
    </div>
    <div class="paper-cell-middle col-xs-10">
        <div class="paper-cell-title">
            <a href="{{ request.route_url('view_paper', arxiv_id=paper.arxiv_id) }}">{{ paper.title }}</a> <a href="https://arxiv.org/abs/{{ paper.arxiv_id }}">({{ paper.formatted_date }})</a>
        </div>
        <div class="paper-cell-authors">
                {% for author in paper.authors %}
                <span>{{ author.name }}</span>{% if loop.last %}.{% else %}, {% endif %}
                {% endfor %}
        </div>
        <div class="paper-cell-userdata">
            <span class="paper-cell-userscore">
                    {% for index in range(1, 11) %}
                        {% if paper.userscore %}
                            {% if index == paper.userscore %}
                                <span><strong><a href="{{ request.route_url('delete_user_paper_rating', arxiv_id=paper.arxiv_id) }}">{{ index }}</a></strong></span>
                            {% else %}
                                <span><a href="{{ request.route_url('edit_user_paper_rating', arxiv_id=paper.arxiv_id, rating=index) }}">{{ index }}</a></span>
                            {% endif %}
                        {% else %}
                            <span><a href="{{ request.route_url('add_user_paper_rating', arxiv_id=paper.arxiv_id, rating=index, _query={'next': request.url}) }}">{{ index }}</a></span>
                        {% endif %}
                    {% endfor %}
            </span>
                <span style="margin-left: 5px; margin-right: 5px;">|</span>
                <span class="paper-cell-tags">
            {% for tag in paper.tags %}
                    <span>
                    <a href="{{request.route_url('view_user_taglist', user_name=request.user.name, tag_name=tag.name)}}">{{ tag.name }}</a>
                    <a href="{{request.route_url('delete_tag', arxiv_id=paper.arxiv_id, tag_name=tag.name)}}" class="tag-close close" aria-label="Close" aria-hidden="true"><span>&times;</span></a>
                    </span>
                {% if loop.last %}
                    <span style="margin-left: 5px; margin-right: 5px;">-</span>
                {% endif %}
            {% endfor %}
                    <span>
                    <form class="form-inline form-tag" action="{{ request.route_url('add_tag', arxiv_id=paper.arxiv_id) }}" method="post">
                    <div class="form-group form-group-tag">
                        <textarea name="next" hidden>{{ request.url }}</textarea>
                        <input class="form-control input-tag" placeholder="Enter tag." name="body">
                    </div>
                    </form>
                    </span>
                </span>
            </span>
        </div>
    </div>
</div>
