{% extends 'layout.jinja2' %}

{% block subtitle %}Summarize - {% endblock subtitle %}

{% block content %}
<p>{{ content|safe }}</p>
<p>
    Viewing <strong>{{paper.arxiv_id}}</strong>.
</p>
<p>You can return to the
<a href="{{request.route_url('view_page', pagename='FrontPage')}}">FrontPage</a>.
</p>
{% endblock content %}
