{% extends 'layout.jinja2' %}

{% block subtitle %} Add Tip {% endblock subtitle %}

{% block content %}
<p>
Submit tip for <strong><a href="{{request.route_url('view_paper', arxiv_id=paper.arxiv_id)}}">{{paper.arxiv_id}}</a></strong>
</p>
<div id="react-root">
</div>
{% endblock content %}

{% block js %}
<script src="{{request.static_url('papersummarize:static/js/add_tip.js')}}"></script>
{% endblock %}
