{% extends 'layout.jinja2' %}

{% block subtitle %} Welcome to Paper Summarize. {% endblock subtitle %}

{% block content %}

{% for paper in papers %}
{% include('./custom_cells/paper_cell.jinja2') %}
{% endfor %}

{% endblock content %}
