{% extends 'layout.jinja2' %}

{% block content %}

{% include 'custom_cells/paper_cell.jinja2' %}

<div class="row" style="text-align: center;">
    <div class="col-xs-12">
        Summaries
    </div>
</div>

<div class="row" style="text-align: center;">
    <div class="col-xs-12">
        Tips
    </div>
</div>

{% endblock %}
