{% extends 'layout.jinja2' %}

{% block content %}

<div style="margin-bottom: 10px;">
{% include 'custom_cells/paper_cell.jinja2' %}
</div>

<div class="row" style="text-align: center; margin-bottom: 10px;">
    <div class="col-xs-12">
        <span>Summaries</span>
        <span>-</span>
        {% if summary %}
        <span><a href="{{ request.route_url('view_summary', arxiv_id=paper.arxiv_id, user_name=summary.creator.name) }}">view</a></span>
        {% else %}
        <span><a href="{{ request.route_url('add_summary', arxiv_id=paper.arxiv_id) }}">add</a></span>
        {% endif %}
    </div>
</div>

<div class="row" style="text-align: center;">
    <div class="col-xs-12">
        Tips
    </div>
</div>

{% endblock %}
