{% extends 'layout.jinja2' %}

{% block subtitle %}Summarize - {% endblock subtitle %}

{% block content %}
<p>{{ content|safe }}</p>
<p>
    <h3><a href="{{request.route_url('view_paper', arxiv_id=paper.arxiv_id)}}">{{paper.arxiv_id}}</a></h3>
</p>
<p>
    Summaries written: <strong>{{ num_summaries }}</strong> {% if summary_written %}
            (<a href="{{ request.route_url('edit_summary', arxiv_id=paper.arxiv_id) }}">Edit</a>)
            {% else %}
            (<a href="{{ request.route_url('add_summary', arxiv_id=paper.arxiv_id) }}">Add</a>)
    {% endif %}
</p>
<p>
Tips: <strong>{{ num_tips }}</strong> (<a href="{{ request.route_url('add_tip', arxiv_id=paper.arxiv_id) }}">Add</a>)
</p>

{% if summaries is none %}
<p></p>
{% else %}
<div>
<p>Summaries:</p>
<ul>
{% for summary in summaries %}
    <li>
    <div>
    <p>Author: {{ summary.creator.name }}</p>
    <p>Summary: {{ summary.data }}</p>
    </div>
    </li>
{% endfor %}
</ul>
</div>
{% endif %}

{% if tips is none %}
<p></p>
{% else %}
<div>
<p>Tips:</p>
<ul>
{% for tip in tips %}
    <li>
    <div>
    <p>Author: {{ tip.creator.name }}</p>
    <p>Summary: {{ tip.data }}</p>
    {% if tip.creator.name == request.user.name %}
    <p>
    <a href="{{ request.route_url('edit_tip', arxiv_id=paper.arxiv_id, tip_id=tip.id) }}">Edit</a>
    </p>
    {% endif %}
    </div>
    </li>
{% endfor %}
</ul>
</div>
{% endif %}

{% endblock content %}
