{% extends 'layout.jinja2' %}

{% block subtitle %}Summarize - {% endblock subtitle %}

{% block content %}
<p>{{ content|safe }}</p>

<p>Profile: {{ user.name }}</p>

<p><a href="{{request.route_url('view_user_activity', user_name=user.name)}}">activity</a></p>

{% endblock content %}
