{% extends 'layout.jinja2' %}

{% block subtitle %} Activity Log {% endblock subtitle %}

{% block content %}
<p>{{ content|safe }}</p>

{% if activities is not none %}
<ul>
{% for item in activities %}

    {% if item.type == 'tip' %}
        {% include('./custom_cells/activity_tip_cell.jinja2') %}
        <li>[{{item.created_at}}] Created tip for <a href="{{ request.route_url('view_paper', arxiv_id=item.paper.arxiv_id) }}">{{ item.paper.title }}</a>.</li>
    {% elif item.type == 'tag' %}
        {% include('./custom_cells/activity_tag_cell.jinja2') %}
    {% elif item.type == 'user_paper_rating' %}
        {% include('./custom_cells/activity_user_paper_rating_cell.jinja2') %}
    {% else %}
        <li>[{{item.created_at}}] Unknown activity for <a href="{{ request.route_url('view_paper', arxiv_id=item.paper.arxiv_id) }}">{{ item.paper.title }}</a>.</li>
    {% endif %}

{% endfor %}
</ul>
{% endif %}

<div class="footer row" style="margin-bottom: 50px; background-color: white; padding: 10px;">
<div class="col-xs-4 text-left">
<span style="margin-left: 20px;">
<a href="{{ request.route_url('view_user_activity', user_name=request.matchdict['user_name'], _query={'page': query.page_prev, 'limit': query.limit_prev}) }}">prev</a>
<span>
</div>
<div class="col-xs-4 text-center"></div>
<div class="col-xs-4 text-right">
<span style="margin-right: 20px;">
<a href="{{ request.route_url('view_user_activity', user_name=request.matchdict['user_name'], _query={'page': query.page_next, 'limit': query.limit_next}) }}">next</a>
</span>
</div>
</div>

{% endblock content %}
