{% extends 'layout.jinja2' %}

{% block subtitle %} Edit Tip {% endblock subtitle %}

{% block content %}
<p>
Submit tip for <strong><a href="{{request.route_url('view_paper', arxiv_id=paper.arxiv_id)}}">{{paper.arxiv_id}}</a></strong>
</p>
<form action="{{ remove_url }}" method="post">
<div class="form-group">
    <div data-linkify="this" class="form-control" name="body" rows="10" cols="60" readonly>{{ tip.data }}</div>
</div>
{% if tip.creator.name == request.user.name %}
<div class="form-group">
    <button type="submit" name="form.submitted" value="Delete" class="btn btn-danger">Delete</button>
</div>
{% endif %}
</form>
{% endblock content %}
