{% extends 'layout.jinja2' %}

{% block content %}
<p>
<span>summary</span>
<span><a href="{{request.route_url('view_paper', arxiv_id=summary._summary.paper.arxiv_id)}}">{{summary._summary.paper.arxiv_id}}</a></span>
<span>/</span>
<span><a href="{{request.route_url('view_user', user_name=summary._summary.creator.name)}}">{{summary._summary.creator.name}}</a></span>
</p>

{% include('./custom_cells/summary_cell.jinja2') %}

{% endblock content %}
