{% extends 'layout.jinja2' %}

{% block subtitle %}Summarize - {% endblock subtitle %}

{% block content %}
<p>{{ content|safe }}</p>

{% include('./custom_cells/paper_cell.jinja2') %}

<div id="similar-papers">
<p>Similar Papers:</p>
{% for paper in papers %}
{% include('./custom_cells/paper_cell.jinja2') %}
{% endfor %}
</div>

{% endblock content %}
